@font-face {

  font-family: inter;
  src: url("../assets/fonts/Inter/static/Inter-Medium.ttf");
}

@font-face {
  font-family: zcool;
  src: url("../assets/fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.ttf");
}

@font-face {
  font-family: poppins;
  src: url("../assets/fonts/Poppins/Poppins-Black.ttf");
}

body {
  font-family: thisSpecialFont;
}

.side-img {
  background: linear-gradient(135deg, rgba(78, 117, 119, 0.1) 0%, rgba(101, 213, 252, 0.1) 100%, rgba(35, 68, 91, 0.1) 100%);
}

.slct-cntr {
  height: 80px;
  font-family: inter
}

.vrf {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.logo-txt {
  font-family: zcool;
  font-size: 20px;
}

.navbar-bg {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  -webkit-backdrop-filter: blur(2em);
  backdrop-filter: blur(2em);
}